.footer {
  align-items: center;
  background-color: #f9f8f4 !important;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-wrap: nowrap;
  height: 55px;
  justify-content: space-between;
  width: 100%;
}

.caption,
.copyright {
  padding: 1rem;
  font-size: 0.8rem;
  font-family: Space Grotesk, sans-serif;
  color: #000000;
}
